<h1 class="title">Shopping Cart</h1>
<form ng-submit="$ctrl.addItem(item);">
        <input class="put" type="text" ng-model="item.product" placeholder="Product">
        <input class="put" type="text" ng-model="item.price" placeholder="Price">
        <input class="put" type="text" ng-model="item.quantity" placeholder="Quantity">
        <button>Add Item</button>
        </form>

<div class="cardcontainer">
<section class = "card" ng-repeat="cart in $ctrl.cartList track by $index">
        <p> id: {{cart.id}} </p>
        <p> Product: {{cart.product}} </p>
        <p> Price: {{cart.price}} </p>
        <p>Quantity: <input type="text" ng-model="itemQuantity" ng-blur="$ctrl.updateItem(cart, itemQuantity)" placeholder="{{cart.quantity}}"> </p>
        <button ng-click="$ctrl.deleteItem(cart.id);">Delete</button>
</section>
</div>